##### Shar Clark

# The Task
Your task is two-fold:

1. . Clean the files and combine them into one final DataFrame.

This dataframe should have the following columns:
- Hero (Just the name of the Hero)
- Publisher
- Gender
- Eye color
- Race
- Hair color
- Height (numeric)
- Skin color
- Alignment
- Weight (numeric)
- Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
    - Agility
    - Flight
    - Superspeed
    - etc.

Hint: There is a space in "100 kg" or "52.5 cm"

2. Use your combined DataFrame to answer the following questions.

Compare the average weight of super powers who have Super Speed to those who do not.
What is the average height of heroes for each publisher?

In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
sup_info = pd.read_csv('Data/superhero_info - superhero_info.csv')
sup_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [3]:
sup_pow = pd.read_csv('Data/superhero_powers - superhero_powers.csv')
sup_pow.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [4]:
#split hero and publisher in sup_info

sup_info['Hero|Publisher'].str.split('|', expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

### Separate Hero and Publisher and drop Hero|Publisher

In [5]:
sup_info[['Hero', 'Publisher']] = sup_info['Hero|Publisher'].str.split('|', expand=True)
sup_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [6]:
sup_info = sup_info.drop(columns = ['Hero|Publisher'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

### Measurements column

In [7]:
#look at just one
meas = sup_info.loc[0, "Measurements"]
print(type(meas))
meas

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [8]:
#json.loads(meas)

#commented out, got double quote error

In [9]:
meas = meas.replace("'", '"')
meas

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [10]:
fixed_meas = json.loads(meas)
print(type(fixed_meas))
fixed_meas

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [11]:
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [12]:
# apply to entire column

## use .str.replace to replace all single quotes
sup_info['Measurements'] = sup_info['Measurements'].str.replace("'",'"')

## Apply the json.loads to the full column
sup_info['Measurements'] = sup_info['Measurements'].apply(json.loads)
sup_info['Measurements'].head()

#"json.loads" (the s is for "strings"), which will load a JSON-compatible 
#STRING into a dictionary/list of dictionaries.

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [13]:
test_meas = sup_info.loc[0,'Measurements']
print(type(test_meas))
test_meas

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [14]:
sup_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

In [15]:
height_weight = sup_info['Measurements'].apply(pd.Series)
height_weight

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [16]:
sup_info = pd.concat((sup_info,height_weight), axis=1)
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [17]:
# to make it numeric going to drop anything after the space and rename the columns

sup_info[['Height_cm', 'hunit']] = sup_info['Height'].str.split(' ',expand=True)
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight,Height_cm,hunit
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,cm
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,cm

In [18]:
#do the same thing for Weight
sup_info[['Weight_kg', 'wunit']] = sup_info['Weight'].str.split(' ',expand=True)
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight,Height_cm,hunit,Weight_kg,wunit
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,cm,441.0,kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,cm,65.0,kg

In [19]:
sup_info = sup_info.drop(columns=['hunit','wunit'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight,Height_cm,Weight_kg
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,65.0

In [20]:
sup_info = sup_info.drop(columns=['Height','Weight'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height_cm,Weight_kg
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0,65.0

In [21]:
sup_info = sup_info.drop(columns=['Measurements'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height_cm,Weight_kg
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [22]:
sup_pow['Powers'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 667 entries, 0 to 666
Series name: Powers
Non-Null Count  Dtype
--------------  -----
667 non-null    object
dtypes: object(1)
memory usage: 5.3+ KB

In [23]:
powpow = sup_pow.loc[5, 'Powers']
print(type(powpow))
powpow

<class 'str'>

'Dimensional Awareness,Flight,Intelligence,Super Strength,Size Changing,Super Speed,Teleportation,Magic,Dimensional Travel,Immortality,Invulnerability,Molecular Manipulation,Energy Manipulation,Power Cosmic'

In [24]:
#currently in a string. Need to convert to list
test1 = sup_pow.loc[2,'Powers']

test_to_list = test1.split(",")

print(test_to_list)

['Agility', 'Accelerated Healing', 'Cold Resistance', 'Durability', 'Underwater breathing', 'Marksmanship', 'Weapons Master', 'Longevity', 'Intelligence', 'Super Strength', 'Telepathy', 'Stamina', 'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner']

In [30]:
sup_pow['Powers_split']= sup_pow['Powers'].str.split(",")
sup_pow.head(2)

,hero_names,Powers,Powers_split
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]"
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S..."

In [32]:
#sup_pow['Powers'].value_counts()
exploded = sup_pow.explode('Powers_split')
exploded[['hero_names', 'Powers_split']].head(5)

  hero_names         Powers_split
0    3-D Man              Agility
0    3-D Man       Super Strength
0    3-D Man              Stamina
0    3-D Man          Super Speed
1     A-Bomb  Accelerated Healing

In [33]:
cols_to_make = exploded['Powers_split'].dropna().unique()
cols_to_make

array(['Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance', 'Cold Resistance', 'Underwater breathing',
       'Marksmanship', 'Weapons Master', 'Intelligence', 'Telepathy',
       'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner',
       'Lantern Power Ring', 'Invulnerability', 'Animation',
       'Super Breath', 'Dimensional Awareness', 'Flight', 'Size Changing',
       'Teleportation', 'Magic', 'Dimensional Travel',
       'Molecular Manipulation', 'Energy Manipulation', 'Power Cosmic',
       'Energy Absorption', 'Elemental Transmogrification',
       'Fire Resistance', 'Natural Armor', 'Heat Resistance',
       'Matter Absorption', 'Regeneration', 'Stealth', 'Power Suit',
       'Energy Blasts', 'Energy Beams', 'Heat Generation', 'Danger Sense',
       'Phasing', 'Force Fields', 'Hypnokinesis', 'Invisibility',
       'Enhanced Senses', 'Jump', 'Shapeshifting', 'Elasticity',
       'Substance Secretion', 'Enhanced Hearing', 'Adaptation', 'Gliding',
       'Natural Weapons', 'Wallcrawling', 'Vision - Thermal',
       'Power Augmentation', 'Cryokinesis', 'Duplication',
       'Weapon-based Powers', 'Fire Control', 'Enhanced Memory',
       'Energy Constructs', 'Power Absorption', 'Time Travel',
       'Enhanced Smell', 'Water Control', 'Vision - Telescopic',
       'Magnetism', 'Vision - Microscopic', 'Vision - Night',
       'Vision - Heat', 'Vision - X-Ray', 'Psionic Powers',
       'Toxin and Disease Resistance', 'Animal Attributes',
       'Animal Oriented Powers', 'Toxin and Disease Control', 'Empathy',
       'Animal Control', 'Darkforce Manipulation', 'Time Manipulation',
       'Reality Warping', 'Web Creation', 'Symbiote Costume',
       'Telekinesis', 'Levitation', 'Biokinesis', 'Sonar',
       'Enhanced Touch', 'Seismic Power', 'Energy Armor',
       'Omnilingualism', 'Radiation Immunity', 'Density Control',
       'Light Control', 'Illumination', 'Molecular Combustion',
       'Astral Travel', 'Precognition', 'Intangibility', 'Illusions',
       'Audio Control', 'Sonic Scream', 'Peak Human Condition',
       'Vision - Infrared', 'Dexterity', 'Omnitrix', 'Omnipotent',
       'Possession', 'Energy Resistance', 'Vision - Cryo', 'Mind Control',
       'Mind Blast', 'Clairvoyance', 'Probability Manipulation',
       'Death Touch', 'Electrokinesis', 'Gravity Control',
       'Technopath/Cyberpath', 'Radar Sense', 'Astral Projection',
       'Cloaking', 'Telepathy Resistance', 'Mind Control Resistance',
       'Hyperkinesis', 'Spatial Awareness', 'Radiation Control',
       'Radiation Absorption', 'Magic Resistance', 'Element Control',
       'Plant Control', 'Terrakinesis', 'Power Sense', 'Wind Control',
       'Qwardian Power Ring', 'Echolocation', 'Resurrection', 'The Force',
       'Summoning', 'Banish', 'Molecular Dissipation',
       'Electrical Transport', 'Speed Force', 'Grim Reaping',
       'Portal Creation', 'Vitakinesis', 'Projection', 'Insanity',
       'Photographic Reflexes', 'Anti-Gravity', 'Thirstokinesis',
       'Power Nullifier', 'Weather Control', 'Omnipresent', 'Omniscient',
       'Hair Manipulation', 'Nova Force', 'Odin Force', 'Phoenix Force',
       'Intuitive aptitude', 'Melting', 'Changing Armor'], dtype=object)

In [35]:
for col in cols_to_make:
    sup_pow[col] = sup_pow['Powers'].str.contains(col)
sup_pow.head()

,hero_names,Powers,Powers_split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",True,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring],False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre...",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [36]:
# drop power and power split columns
sup_pow = sup_pow.drop(columns=['Powers','Powers_split'])
## save data for next lesson
sup_pow.to_csv('sup_powOHE.csv', index=False)

# 2. Combine DF and answer the following questions.

1. Compare the average weight of super powers who have Super Speed to those who do not.

2. What is the average height of heroes for each publisher?

In [39]:
#combine first. 
merged_sups = pd.merge(sup_info, sup_pow, left_on='Hero', right_on='hero_names', how='inner')
merged_sups.head(3)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height_cm,Weight_kg,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0,...,False,False,False,False,False,False,False,False,False,False
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0,...,False,False,False,False,False,False,False,False,False,False
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0,...,False,False,False,False,False,False,False,False,False,False

In [43]:
sup_pow.columns

Index(['hero_names', 'Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance',
       ...
       'Weather Control', 'Omnipresent', 'Omniscient', 'Hair Manipulation',
       'Nova Force', 'Odin Force', 'Phoenix Force', 'Intuitive aptitude',
       'Melting', 'Changing Armor'],
      dtype='object', length=168)

In [47]:
# 1. Compare the average weight of super powers who have Super Speed to those who do not.
#ssfilter = merged_sups['Super Strength'] == True
avg_weightSS = merged_sups.groupby('Super Speed')['Weight_kg'].mean()
avg_weightSS

TypeError: Could not convert 441.065.090.0122.081.0104.0101.054.083.0122.086.0358.068.057.059.050.054.081.067.077.054.057.052.061.079.063.0135.071.0124.058.059.086.090.052.090.059.086.088.068.056.077.0230.086.055.097.061.099.090.059.074.0108.074.061.061.097.063.081.050.086.070.067.099.0104.088.052.090.081.056.052.090.095.091.0383.090.0171.0132.081.054.0306.056.059.080.065.057.0203.095.0106.088.096.0108.018.056.099.056.091.081.0104.0167.081.086.0630.050.090.0270.0115.079.088.088.079.04.079.063.079.0104.057.061.088.081.0158.061.081.048.059.0119.065.079.081.054.077.052.055.088.086.052.0104.0324.097.063.095.054.065.095.0360.0288.0236.0191.0383.086.0225.097.052.056.081.0110.054.090.090.086.077.0101.081.086.061.0338.0248.090.0101.072.070.061.070.079.054.083.099.088.079.065.0405.059.089.079.054.052.087.080.055.050.052.0234.086.090.074.068.083.056.083.050.0117.083.081.056.0108.085.072.079.0101.056.038.025.054.063.061.0203.0900.063.059.0149.050.079.0315.0153.079.052.052.0180.049.0437.0113.081.083.079.071.063.0131.057.077.047.074.054.0101.0225.074.054.076.081.059.058.056.0214.079.052.071.054.041.0162.067.050.0117.0135.050.061.083.052.057.0 to numeric

In [41]:
#pd.to_numeric(merged_sups['Height_cm'])
avgheight_bypublisher = merged_sups.groupby('Publisher')['Height_cm'].mean()
avgheight_bypublisher

TypeError: Could not convert 185.0185.0180.0257.0183.0178.0185.0198.0178.0168.0183.0203.0170.0165.0168.0188.0178.0178.0173.0188.0191.0191.0165.0170.0185.0188.0183.0196.0198.0170.0170.0193.0193.0175.0175.0163.0170.0175.0183.0198.0267.0183.0185.0193.0188.0175.0244.0185.0168.0193.0188.0180.0183.0183.0157.062.5198.0178.0188.0188.0188.0170.0185.0175.0185.0180.0180.0170.0185.0196.0173.0244.0234.064.0180.0188.0165.0155.0191.0229.0201.0180.0175.0196.0185.0185.0183.0178.0183.0193.0178.0178.0157.0168.0185.0168.0168.0180.0180.0188.0193.0165.0178.0180.0183.0165.0185.0185.0178.0183.0165.0137.0168.0183.0173.0201.0175.0279.0188.0193.0165.0170.0201.0183.0170.0180.0165.0191.0188.0183.0168.0178.0175.0173.0165.0183.0170.0185.0 to numeric