##### Shar Clark

# The Task
Your task is two-fold:

1. . Clean the files and combine them into one final DataFrame.

This dataframe should have the following columns:
- Hero (Just the name of the Hero)
- Publisher
- Gender
- Eye color
- Race
- Hair color
- Height (numeric)
- Skin color
- Alignment
- Weight (numeric)
- Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
    - Agility
    - Flight
    - Superspeed
    - etc.

Hint: There is a space in "100 kg" or "52.5 cm"

2. Use your combined DataFrame to answer the following questions.

Compare the average weight of super powers who have Super Speed to those who do not.
What is the average height of heroes for each publisher?

In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
sup_info = pd.read_csv('Data/superhero_info - superhero_info.csv')
sup_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [3]:
sup_pow = pd.read_csv('Data/superhero_powers - superhero_powers.csv')
sup_pow.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [4]:
#split hero and publisher in sup_info

sup_info['Hero|Publisher'].str.split('|', expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

### Separate Hero and Publisher and drop Hero|Publisher

In [5]:
sup_info[['Hero', 'Publisher']] = sup_info['Hero|Publisher'].str.split('|', expand=True)
sup_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [6]:
sup_info = sup_info.drop(columns = ['Hero|Publisher'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

### Measurements column

In [7]:
#look at just one
meas = sup_info.loc[0, "Measurements"]
print(type(meas))
meas

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [8]:
#json.loads(meas)

#commented out, got double quote error

In [9]:
meas = meas.replace("'", '"')
meas

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [10]:
fixed_meas = json.loads(meas)
print(type(fixed_meas))
fixed_meas

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [11]:
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [12]:
# apply to entire column

## use .str.replace to replace all single quotes
sup_info['Measurements'] = sup_info['Measurements'].str.replace("'",'"')

## Apply the json.loads to the full column
sup_info['Measurements'] = sup_info['Measurements'].apply(json.loads)
sup_info['Measurements'].head()

#"json.loads" (the s is for "strings"), which will load a JSON-compatible 
#STRING into a dictionary/list of dictionaries.

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [13]:
test_meas = sup_info.loc[0,'Measurements']
print(type(test_meas))
test_meas

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [14]:
sup_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

In [15]:
height_weight = sup_info['Measurements'].apply(pd.Series)
height_weight

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [16]:
sup_info = pd.concat((sup_info,height_weight), axis=1)
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [17]:
# to make it numeric going to drop anything after the space and rename the columns

sup_info[['Height_cm', 'hunit']] = sup_info['Height'].str.split(' ',expand=True)
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight,Height_cm,hunit
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,cm
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,cm

In [18]:
#do the same thing for Weight
sup_info[['Weight_kg', 'wunit']] = sup_info['Weight'].str.split(' ',expand=True)
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight,Height_cm,hunit,Weight_kg,wunit
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,cm,441.0,kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,cm,65.0,kg

In [19]:
sup_info = sup_info.drop(columns=['hunit','wunit'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight,Height_cm,Weight_kg
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,65.0

In [20]:
sup_info = sup_info.drop(columns=['Height','Weight'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height_cm,Weight_kg
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0,65.0

In [21]:
sup_info = sup_info.drop(columns=['Measurements'])
sup_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height_cm,Weight_kg
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [22]:
sup_pow['Powers'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 667 entries, 0 to 666
Series name: Powers
Non-Null Count  Dtype
--------------  -----
667 non-null    object
dtypes: object(1)
memory usage: 5.3+ KB

In [23]:
powpow = sup_pow.loc[5, 'Powers']
print(type(powpow))
powpow

<class 'str'>

'Dimensional Awareness,Flight,Intelligence,Super Strength,Size Changing,Super Speed,Teleportation,Magic,Dimensional Travel,Immortality,Invulnerability,Molecular Manipulation,Energy Manipulation,Power Cosmic'

In [24]:
#currently in a string. Need to convert to list
test1 = sup_pow.loc[2,'Powers']

test_to_list = test1.split(",")

print(test_to_list)

['Agility', 'Accelerated Healing', 'Cold Resistance', 'Durability', 'Underwater breathing', 'Marksmanship', 'Weapons Master', 'Longevity', 'Intelligence', 'Super Strength', 'Telepathy', 'Stamina', 'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner']

In [25]:
#sup_pow['Powers']= sup_pow.split(",")
#sup_pow.head(2)

exploded = sup_pow.explode('powers_split')
exploded[['hero_names', 'Powers']].head(5)

KeyError: 'powers_split'

In [ ]:
sup_pow['Powers'].value_counts()

In [ ]:
#sup_pow.loc[4,'Powers']
#sup_pow['power_split']= sup_pow['Powers'].str.replace("'",'"')
#sup_pow.head()

In [ ]:
#exploded = sup_pow.explode('Powers')
#exploded[['hero_names','Powers']].head()

In [ ]:
#sup_pow['powers_split'] = sup_pow['Powers'].str.replace("'",'"')

In [ ]:
#sup_pow['powers_split'].head(2)

In [ ]:
#sup_pow['powers_split'] = sup_pow['powers_split'].apply(json.loads)

#sup_pow['powers_split'].head()

# 2. Combine DF and answer the following questions.

1. Compare the average weight of super powers who have Super Speed to those who do not.

2. What is the average height of heroes for each publisher?

1. I can't get that part to work and I ran out of time

2. What is the average height of heroes for each publisher?

In [ ]:
#combine first. 
#Need to change hero_names to Hero
sup_pow.columns = ['Hero Names','Powers']
sup_pow.head()

In [ ]:
merged_sups = pd.merge(sup_info, sup_pow, left_on='Hero', right_on='Hero Names', how='inner')
merged_sups.head(3)

In [ ]:
#average height


pd.to_numeric(merged_sups['Height_cm'])

In [ ]:
avgheight_bypublisher = merged_sups.groupby('Publisher')['Height_cm'].mean()
avgheight_bypublisher